.header {
    position: fixed;
    padding: 20px;
    width: 100%;
    align-items: center;
    transition: background-color 1s;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.left {
    display: flex;
    align-items: center;
    text-align: left;
}

.logo {
    transition: all 1s;
    flex: 1;
    text-align: center;
}

.logoScrolled {
    transition: all 1s;
    flex: 1;
    text-align: center;
}

.header__link {
    color: var(--clr-fg);
}

.header__link:hover {
    border-color: var(--gold);
    color: var(--gold);
}

.menuBtn{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27px;
    height: 22px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btnLine{
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all .1s;
}

.menuBtn:hover .btnLine{
    background-color: var(--gold);
}

.headerText{
    transition: all .1s;
}

.headerText:hover{
    color: var(--gold);
}

.menuActive{
    display: flex !important;
}

.menu {
    padding: 30px;
    display: none;
    background-color: black;
    flex-direction: column;
    gap: 30px;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

.menuItem{
    transition: all .1s;
}

.menuItem a:hover{
    color: var(--gold);
}

.menuClose{
    width: 15px;
    height: 15px;
    object-fit: contain;
    cursor: pointer;
    transition: all .1s;
}

.menuClose:hover path{
    stroke: var(--gold);
}

.right{
    display: flex;
    gap: 17px;
}

.headerIcon{
    width: 23px;
    height: 22px;
    object-fit: contain;
    transition: all .1s;
    cursor: pointer;
}

.headerIcon:hover path{
    fill: var(--gold);
}

@media(max-width: 800px){
    .menu{
        width: 100vw;
    }
}

@media(max-width: 600px){
    .headerText{
        display: none;
    }
}

@media(max-width: 400px){
    .headerIcon{
        display: none;
    }
}